body{
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg,#fdf2f8,#e0f2fe);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin:0;
}

.card{
  background:white;
  padding:30px;
  border-radius:20px;
  width:600px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
  text-align:center;
}

h3{
  color:#ec4899;
}

.progress-bar{
  height:8px;
  background:#eee;
  border-radius:10px;
  margin:10px 0;
}

#progressFill{
  height:8px;
  background:#22c55e;
  width:0%;
  border-radius:10px;
}

.scale{
  display:flex;
  justify-content:space-between;
  font-size:12px;
  color:#555;
  margin-bottom:10px;
}

.options{
  display:flex;
  justify-content:space-between;
  margin-top:10px;
}

.choice{
  width:45px;
  height:45px;
  border-radius:50%;
  border:2px solid #ddd;
  background:white;
  cursor:pointer;
  transition:0.2s;
}

.choice:hover{
  transform:scale(1.1);
}

.choice.selected{
  background:#ec4899;
  border-color:#ec4899;
}